@font-face {
  font-family: 'gothic-bold';
  src: url('/src/components/shared/assets/fonts/TGBold.woff2');
}
@font-face {
  font-family: 'gothic-heavy';
  src: url('/src/components/shared/assets/fonts/TGHeavy.woff2');
}
@font-face {
  font-family: 'gothic-italic';
  src: url('/src/components/shared/assets/fonts/TGItal.woff2');
}
@font-face {
  font-family: 'gothic-regular';
  src: url('/src/components/shared/assets/fonts/TGReg.woff2');
}
