@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), url('../fonts/DancingScript.woff2') format('woff2');
}

.theme-provider {
  font-family: Dancing Script;
}
